/.idea/workspace.xml
/.idea/libraries
/.idea
Reports/
Site_Tests/__pycache__/
venv/Include/
venv/Lib/site-packages/__pycache__/
venv/Lib/site-packages/_pytest/
venv/Lib/site-packages/atomicwrites-1.4.0.dist-info/
venv/Lib/site-packages/atomicwrites/
venv/Lib/site-packages/attr/
venv/Lib/site-packages/attrs-20.3.0.dist-info/
venv/Lib/site-packages/colorama-0.4.4.dist-info/
venv/Lib/site-packages/colorama/
venv/Lib/site-packages/importlib_metadata-2.0.0.dist-info/
venv/Lib/site-packages/importlib_metadata/
venv/Lib/site-packages/iniconfig-1.1.1.dist-info/
venv/Lib/site-packages/iniconfig/
venv/Lib/site-packages/packaging-20.4.dist-info/
venv/Lib/site-packages/packaging/
venv/Lib/site-packages/pluggy-0.13.1.dist-info/
venv/Lib/site-packages/pluggy/
venv/Lib/site-packages/py-1.9.0.dist-info/
venv/Lib/site-packages/py/
venv/Lib/site-packages/pyparsing-2.4.7.dist-info/
venv/Lib/site-packages/pyparsing.py
venv/Lib/site-packages/pytest-6.1.2.dist-info/
venv/Lib/site-packages/pytest/
venv/Lib/site-packages/six-1.15.0.dist-info/
venv/Lib/site-packages/six.py
venv/Lib/site-packages/toml-0.10.2.dist-info/
venv/Lib/site-packages/toml/
venv/Lib/site-packages/zipp-3.4.0.dist-info/
venv/Lib/site-packages/zipp.py
venv/Scripts/py.test.exe
venv/Scripts/pytest.exe
